@page
@model Memodex.WebApp.Pages.BrowseCategories

@{
    Layout = "Shared/_Layout";
}
<div class="mb-6">
    <h1 class="text-3xl font-bold mb-2">Browse Categories</h1>
    <p class="text-gray-600 mb-4">
        Explore various decks by choosing a category. Each category contains a curated collection of flashcards to enhance your learning.
    </p>

    <div class="text-right">
        <a href="@Url.Page("AddCategory")"
           class="text-sm text-blue-600 dark:text-slate-400 border border-blue-600 dark:border-slate-400 px-4 py-2 rounded hover:bg-blue-100 dark:hover:bg-slate-900">
            + New Category
        </a>
    </div>
</div>
<ul role="list" class="divide-y divide-gray-100 dark:divide-slate-600">
    @foreach (CategoryItem category in Model.Categories)
    {
        <li class="flex justify-between gap-x-4 py-5">
            <div class="flex items-center min-w-0 gap-x-4">
                <a href="@Url.Page("BrowseDecks", new { categoryId = category.Id })"
                   class="h-12 w-12 flex-none bg-gray-50 rounded-full">
                    <img class="rounded-full" src="@category.ImagePath" alt="@category.Name Image">
                </a>
                <div class="min-w-0 flex-auto">
                    <a href="@Url.Page("BrowseDecks", new { categoryId = category.Id })">
                        <h2 class="hover:text-slate-500">@category.Name</h2>
                    </a>
                    <p class="mt-1 truncate text-xs" id="description_@category.Id">@category.Description</p>
                </div>
            </div>

            <div class="flex flex-col items-end justify-center px-2">
                <p class="text-sm whitespace-nowrap flex items-center">
                    @category.DeckCount
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"/>
                    </svg>
                </p>
                <a href="@Url.Page("EditCategory", new { categoryId = category.Id })" class="mt-2 text-xs leading-5 text-slate-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                    </svg>
                </a>
            </div>
        </li>
    }
</ul>